.vs/**/*
ClassLibrary/.vs/**/*
ClassLibrary/bin/**/*
ClassLibrary/obj/**/*
ClassLibrary.MSTest/.vs/**/*
ClassLibrary.MSTest/bin/**/*
ClassLibrary.MSTest/obj/**/*
ClassLibrary.MSTest/CoverletOutput/**/*
ClassLibrary.MSTest/BenchmarkDotNetReport/**/*
ClassLibrary.MSTest/ReportGeneratorOutput/**/*
ClassLibrary.MSTest/docfx/**/*
ClassLibrary.MSTest/MSTestResults/**/*