<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Id="__SourceName__.WixSetup"
    Name="__SourceName__ Console User Installer"
    Manufacturer="MyAuthor"
    Version="1.0.0.0"
    UpgradeCode="00000000-0000-0000-0000-000000000001"
    Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of the console user installer is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="PerUserProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="__SourceName__ Console" />
    </StandardDirectory>
    <Files Include="!(bindpath.AppPublish)\**" Directory="INSTALLFOLDER" />
  </Package>
</Wix>
