<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Id="__SourceName__.WixDemo.WinForms"
    Name="__SourceName__ WinForms User Installer"
    Manufacturer="MyAuthor"
    Version="1.0.0.0"
    UpgradeCode="B6A1E5C2-2D4E-4BC0-AD41-1E9D2E8B7D22"
    Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of the WinForms user installer is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="PerUserProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="__SourceName__ WinForms" />
    </StandardDirectory>
    <Files Include="!(bindpath.AppPublish)\**" Directory="INSTALLFOLDER" />
  </Package>
</Wix>
